<h5 class="m-4">Bạn đang điểu hướng sang trang quản trị dành cho quản trị viên của trang web</h5>
<div class="container p-3 d-flex justify-content-center">
    <button class="m-2"><a href="/admin/register-page">Đăng Kí tài khoản Quản trị viên</a></button>
    <button class="m-2"><a href="/admin/login-page">Đăng nhập tài khoản Quản trị viên</a></button>
</div>