<div class="container l" style="margin: auto;">
     <h2>Log In Form</h2>
    <form method="POST" action="/admin/login">
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="username" placeholder="Enter email" name="username">
            <label for="email">Email</label>
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
            <label for="pwd">Password</label>
        </div>

        <button class="btn btn-primary" type="submit">Đăng Nhập Tài Khoản với Quyền Quản Trị Viên</button>
    </form>
</div>