<nav class="navbar navbar-expand-sm navbar-dark bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">
            <img src="https://theme.hstatic.net/1000143422/1001240041/14/logo.png?v=64" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <div class="dropdown">
                        <button
                            class="btn btn-primary dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton1"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Product
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/shoes/create">Create Product</a></li>
                            <li><a class="dropdown-item" href="/shoes/list">Product List</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search" />
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>