<div class="container mt-5 pb-3">
        <h2 class="text-primary text-center">Nhập Thông Tin Sản Phẩm</h2>
        <form method="post">
            <div class="form-group">
                <label for="productID">Mã Số Sản Phẩm</label>
                <input type="text" name="id" class="form-control" id="productID" placeholder="Nhập mã số sản phẩm">
            </div>
            <div class="form-group">
                <label for="productName">Tên Sản Phẩm</label>
                <input type="text" class="form-control" id="productName" placeholder="Nhập tên sản phẩm">
            </div>
            <div class="form-group">
                <label for="productPrice">Giá Tiền</label>
                <input type="number" class="form-control" id="productPrice" placeholder="Nhập giá tiền">
            </div>
            <div class="form-group">
                <label for="productImage">Hình Ảnh</label>
                <input type="file" class="form-control-file" id="productImage">
            </div>
            <div class="form-group">
                <label for="productCategory">Thể Loại Sản Phẩm</label>
                <select class="form-control" id="productCategory">
                    <option>Golf</option>
                    <option>Nam</option>
                    <option>Nữ</option>
                    <option>Phụ kiện</option>
                    <!-- Thêm các thể loại khác nếu cần -->
                </select>
            </div>
            <div class="form-group">
                <label for="productDescription">Mô Tả</label>
                <textarea class="form-control" id="productDescription" rows="3" placeholder="Nhập mô tả sản phẩm"></textarea>
            </div>
            <div class="form-group">
                <label for="productSize">Size</label>
                <input type="text" class="form-control" id="productSize" placeholder="Nhập size sản phẩm">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Lưu Thông Tin</button>
        </form>
    </div>